<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 本文件用于配置业务相关的bean，包括数据库、插件、业务bean等 -->

    <bean id="aRolePo" class="com.bebetter.po.RolePo">
        <constructor-arg index="0" value="11"/>
        <constructor-arg index="1" value="beanRole"/>
    </bean>

    <bean id="aUserPo" class="com.bebetter.po.UserPo" >
        <property name="id" value="-1"/>
        <property name="name" value="beanUser"/>
        <property name="rolePo" ref="aRolePo"/>
    </bean>


</beans>